<div style="border: solid grey 1px;margin-top: 4px;border-radius: 4px;padding: 1rem;">
    <p><b><%= comment.title %></b></p>
    <p ><%= comment.content %></p>
    <p><%= comment.created_at %></p>
    <p>Author: <%= comment.user.nickname %></p>
  </div>