<h1>Comments</h1>
<p id="notice"><%= notice %></p>
<% @comments.each do |comment| %>
	<p><b><%= comment.user.nickname %></b> wrote a comment to your <b><i><%= @post.title %> </i></b> article.
	<%= link_to "Look At The Comment", post_comment_path(@post, comment) %>
</p>
<% end %>

