<h5>Total Vote (<%= @post.vote_count %>)</h5>
 <%= link_to "â¤ï¸", up_vote_post_path(@post), method: :patch, remote: true %> | <%= link_to "ðŸ’”", down_vote_post_path(@post),method: :patch, remote: true %> 